NEXT_PUBLIC_APP_NAME=TrainMind
NEXT_PUBLIC_APP_URL=http://localhost:3000

NODE_ENV=development

# Prisma database connection string
DATABASE_URL=your-database-url-pooled
DIRECT_URL=your-databased-url-direct-without-pooled